@font-face {
    font-family: Monda;
    src: url(../fontes/Monda/Monda-Regular.ttf), format('ttf');
    
}
@font-face {
    font-family: Montserrat;
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf), format('ttf');
}


.container{
    display: flex;
    position: fixed;
    width: 1280px;
    height: 720px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%),  url(../imagem/Display\ -\ Tela\ principal.jpg), lightgray 50% / cover no-repeat;
    background-size: 1280px 720px;
    background-repeat: no-repeat;
}

p{
    position: fixed;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*Cabeçalho*/
.barra{
    display: flex;
    position: fixed;
    width: 100%;
    height: 55px;
    flex-direction: 0;
    top: 0;
    left: 0;

    background: rgba(44, 44, 124, 0.8) ;
    z-index: 2;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.logo_wifi {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    
    margin-top: 5px;
    margin-left: 980px;
}

.botao_bloqueio{
    margin-top: 5px;
    margin-left: 30px;
}


/*Corpo Principal*/

#barra_main{
    display: flex;
    position: fixed;
    width: 1280px;
    height: 70px;
    flex-shrink: 0;

    top: 55px;
    left: 0;
    background: rgba(0, 0, 0, 0.60);
    z-index: 2;
}

#btn_comodos{
    position: fixed;
    width: 50px;
    height: 50px;
    flex-shrink: 0;

    top: 65px;
    left: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#btn_home{
    position: fixed;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    
    top: 67px;
    left: 607px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#btn_perfil{
    position: fixed;
    width: 50px;
    height: 50px;
    flex-shrink: 0;

    top: 65px;
    left: 1200px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

/*Barra Esquerda*/
#menu_esquerdo{
    display: flex;
    position: fixed;
    width: 330px;
    height: 675px;
    flex-shrink: 0;

    top: 125px;
    left: -330px;
    background: rgba(0, 0, 0, 0.40);
    z-index: 3;
}

#adicionar_comodos{
    position: fixed;
    margin-top: 10px;
    margin-left: 275px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;

    fill: white;
    background: url(../icons/Adicionador.svg), rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    z-index: 3;
}

#switch_comodo {
    width: 48px; 
    height: 24px; 
    margin-top: 130px; 
    margin-left: 270px; 
    
    border: none;
    background: url(../icons/mdi_toggle-switch-desativado-off.svg); 
    background-repeat: no-repeat; 
    background-size: cover;
}

/* Lista de Comodos*/
#lista_comodos{
    width: 330px;
    height: 360px;
    top: 290px;
    overflow-y: auto;
}

.bloco_comodo {
    position: relative;
    width: 300px;
    height: 80px;
    margin-top: 20px;
    left: 10px;
    bottom: 80px;
}

.img_comodos {
    position: absolute;
    width: 50px;
    height: 35px;
    flex-shrink: 0;
    margin-left: 10px;

    background-repeat: no-repeat;
    background-size: cover;
}

.ativar_comodos{
    position: absolute;
    width: 48px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 21px;
    margin-left: 245px;

    border: none;
    background: url(../icons/mdi_toggle-switch-desativado-off.svg); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.texto_comodos {
    position: absolute;
    margin-top: 56px;
    margin-left: 10px;
    
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*Meio*/

.texto_meio{
    position: fixed;
    width: 900px;
    height: 78px;
    top: 240px;
    left: 180px;
    
    color: white;
    
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    z-index: 1;
}

#relogio{
    position: fixed;
    width: 258px;
    height: 117px;
    top: 320px;
    left: 511px;

    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Barra Direita*/
#menu_direito{
    display: flex;
    position: fixed;
    width: 230px;
    height: 675px;
    flex-shrink: 0;

    top: 125px;
    right: -230px;
    background: rgba(0, 0, 0, 0.40);
    z-index: 3;
}

#img_perfil{
    position: fixed;
    width: 100px;
    height: 100px;
    flex-shrink: 0;

    margin-top: 20px;
    margin-left: 65px;
    z-index: 3;
}

#nome_user{
    position: fixed;
    width: 200px;
    height: 29px;
    margin-top: 10px;
    margin-left: -43px;

    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 3;
}



#adicionar_perfis{
    position: fixed;
    margin-top: 209px;
    margin-left: 173px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;

    fill: white;
    background: url(../icons/Adicionador.svg), rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    z-index: 3;
}

/*Lista de Usuários*/

.lista{
    display: block;
    position: fixed;
    width: 230px;
    height: 100%;
    margin-top: 250px;
    overflow: hidden;
}

#lista_user {
    position: absolute;
    width: 260px;
    height: 359px;
    overflow-y: auto;
}

.imag_user{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -60px;
    margin-left: 21px;
    flex-shrink: 0;
    fill: #FFF;
    background: url(../icons/mdi_account-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.nome_principal {
    display: flex;
    position: absolute;
    width: 210px;
    max-width: 256px;
    max-height: 29px;
    top: -15px;
    margin-left: 15px;
    
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}


