@font-face {
    font-family: Monda;
    src: url(../fontes/Monda/Monda-Regular.ttf), format('ttf');
    
}
@font-face {
    font-family: Montserrat;
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf), format('ttf');
}

body{  /*deletar quando terminar*/
    position: fixed;
    width: 1280px;
    height: 720px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%),  url(../imagem/Display\ -\ Tela\ principal.jpg), lightgray 50% / cover no-repeat;
    background-size: 1280px 720px;
    background-repeat: no-repeat;*/
}

main {
    display: flex;
    position: fixed;
    width: 1295px;
    height: 570px;
    top: 100px;
    left: 0;
    overflow: auto;
}


p, label{
    color: var(--Branco, #FFF);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    border-radius: 20px;
    border: 1px solid #2C2C7C;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;

    padding-left: 30px;
    color: #707070;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:disabled {
    background: rgba(255, 255, 255, 0.4);
    color: black;
}

select{
    overflow-y: auto;
    
    border-radius: 20px;
    border: 1px solid var(--Azul, #2C2C7C);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;

    padding-left: 30px;
    color: #707070;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select:disabled {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

.icon {
    display: flex;
    position: absolute;
}

.exibir{
    width: 35px;
    height: 35px;
    background: url(../icons/mdi_eye.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.check {
    position: absolute;
    width: 35px;
    height: 35px;
    
    background: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

#editar {
    position: absolute;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    top: 39px;
    left: 1140px;

    border: none;
    background: url(../icons/mdi_pencil.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#foto_perfil {
    position: absolute;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    top: 80px;
    left: 50px;
    opacity: 0.7;
}

#btn_imagem{
    position: absolute;
    width: 380px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    top: 150px;
    left: 238px;

    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25);

    color: var(--Branco, #FFF);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
}

#nome_user {
    position: absolute;
    width: 548px;
    height: 60px;
    flex-shrink: 0;
    top: 245px;
    left: 50px;
}

#email {
    position: absolute;
    width: 550px;
    height: 60px;
    flex-shrink: 0;
    top: 245px;
    left: 650px;
}

#telefone {
    position: absolute;
    width: 550px;
    height: 60px;
    flex-shrink: 0;
    top: 325px;
    left: 50px;
}

#tipo_telefone {
    position: absolute;
    width: 585px;
    height: 64px;
    flex-shrink: 0;
    top: 325px;
    left: 650px;
}

#senha {
    position: absolute;
    width: 550px;
    height: 60px;
    flex-shrink: 0;
    top: 405px;
    left: 50px;
}

#conf_senha {
    position: absolute;
    width: 550px;
    height: 60px;
    flex-shrink: 0;
    top: 405px;
    left: 650px;
}


/*EQUIPAMENTO*/

#adicionar {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    top: 515px;
    left: 1140px;
    
    border: none;
    fill: white;
    background: url(../icons/Adicionador.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#equipamento {
    position: absolute;
    width: 380px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 570px;
    margin-left: 50px;
}

#endereco {
    position: absolute;
    width: 480px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 570px;
    left: 480px;
}

#numero {
    position: absolute;
    width: 180px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 570px;
    left: 1015px;
}

#cep {
    position: absolute;
    width: 380px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 650px;
    left: 50px;
}

#cidade {
    position: absolute;
    width: 380px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 650px;
    left: 480px;
}

#estados {
    position: absolute;
    width: 320px;
    height: 63px;
    flex-shrink: 0;
    margin-top: 650px;
    left: 910px;
}