@font-face {
    font-family: Monda;
    src: url(../fontes/Monda/Monda-Regular.ttf), format('ttf');
    
}
@font-face {
    font-family: Montserrat;
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf), format('ttf');
}

p{
    position: fixed;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#switch_ligarwifi{
    position: fixed;
    width: 78.261px;
    height: 40px;
    flex-shrink: 0;

    top: 153px;
    left: 1151px;
    background-image: url(../icons/mdi_toggle-switch-off.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#lista_wifi::-webkit-scrollbar{
    display: none;
}

#lista_wifi{
    position: fixed; 
    width: 100%; 
    height: 455px; 
    top: -200px; 
    left: 0;
    z-index: -10;
    overflow-y: auto;
    overflow-x: hidden;
}

#fundo_wifi{
    display: flex;
    position: relative;
    width: 1179px;
    height: 169px;
    margin-top: -20px;
    left: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #7070705b;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#icon_wifi{
    position: relative;
    width: 35px;
    height: 35px;
    flex-shrink: 0;

    margin-top: 20px;
    margin-left: 40px;
    background-image: url(../icons/mdi_wifi-lock-branco.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#reconexao{
    position: relative;
    width: 78.261px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 110px;
    left: 1000px;

    background-image: url(../icons/mdi_toggle-switch-desativado-off.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

#fundo_listawifi::-webkit-scrollbar{
    display: none;
}

#fundo_listawifi{
    position: relative;
    width: 1179px;
    height: 211px;
    margin-top: -15px;
    left: 50px;
    flex-shrink: 0;
    overflow: auto;

    border-radius: 20px;
    background: #7070705b;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.itens_wifi{
    position: relative;
    width: 35px;
    height: 35px;
    left: 50px;
    background-image: url(../icons/mdi_wifi-lock-branco.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto_wifi{
    position: relative;
    width: 500px;
    left: 80px;
    /*color: #707070;*/
    color: #c5c4c4;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*Barra Direita*/
#menu_direito{
    display: flex;
    position: fixed;
    width: 230px;
    height: 675px;
    flex-shrink: 0;

    top: 125px;
    right: -230px;
    background: rgba(0, 0, 0, 0.40);
}

#img_perfil{
    position: fixed;
    width: 100px;
    height: 100px;
    flex-shrink: 0;

    margin-top: 20px;
    margin-left: 65px;
}

#nome_user{
    position: fixed;
    width: 200px;
    height: 29px;
    margin-top: 141px;
    margin-left: 20px;

    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



#adicionar_perfis{
    position: fixed;
    margin-top: 209px;
    margin-left: 173px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;

    fill: white;
    background: url(../icons/Adicionador.svg), rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}