@font-face {
    font-family: Monda;
    src: url(../fontes/Monda/Monda-Regular.ttf), format('ttf');
    
}
@font-face {
    font-family: Montserrat;
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf), format('ttf');
}




.container {
    width: 1280px;
    background-color: white;
}

.lado_esquerdo {
    position: fixed;
    width: 850px;
    height: 720px;
    left: -150px;
    top: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../imagem/Display - Tela principal.jpg');
    background-size: 850px 720px;
    background-repeat: no-repeat;
}

  
  
  /* Estilo para a coluna direita (conteúdo) */
  .contentColumn {
    width: 300px;
    height: auto;
    left: 602px;
    top: 34%;
    left: 40%;
    position: absolute;
  }
  
  /* Estilo para o texto "ALGIZ" */
  .algizText {
    position: absolute;
    left: 0px; 
    top: 0px; 
    color: #EC9900;
    font-size: 64px;
    font-family: Monda;
    font-weight: 400;
    word-wrap: break-word;
    top: auto;
  }
  
  /* Estilo para o subtexto "ALGIZ" */
  .subAlgizText {
    position: absolute;
    left: 6px; 
    top: 4px; 
    color: #2C2C7C;
    font-size: 60px;
    font-family: Monda;
    font-weight: 400;
    word-wrap: break-word;
  }


.lado_direito {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: white;
}

.saudacao {
    top: 1%;
    text-align: center;
    color: var(--Azul, #2C2C7C);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.texto {
    width: 35%;
    margin: 0 auto;
    color: var(--Azul, #2C2C7C);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

#formulario {
    max-height: 420px;
    margin-top: 3%;
    overflow-y: auto;
    padding: 15px;
}

.input-field {
    align-items: center;
}

.icon {
    margin-right: 10px;
    z-index: 1;
}

input {
    position: static;
    width: 300px;
    height: 36px;
    margin-left: 25%;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid var(--Azul, #2C2C7C);
    background: var(--Branco, #FFF);
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 6%;
    color: var(--Cinza-2, #707070);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select {
    width: 340px;
    height: 38px;
    margin-left: 25%;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid var(--Azul, #2C2C7C);
    background: var(--Branco, #FFF);
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 6%;
    color: var(--Cinza-2, #707070);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    display: flex;
    width: 300px;
    height: 34px;
    margin-top: 3%;

    padding: 7px 0;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

button:active{
    color: rgba(0, 0, 0, 0.205);
    background-color: rgba(0, 0, 0, 0.205);
}

.azul {
    margin-top: 10%;
    margin-left: 29%;
    background: var(--Azul, #2C2C7C);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: white;
}

.branco {
    margin-left: 29%;
    border: 1px solid var(--Azul, #2C2C7C);
    background: var(--Branco, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset, -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: var(--Azul, #2C2C7C);
}
